[submodule "AttachmentAPI"]
	path = AttachmentAPI
	url = https://github.com/codeconsult12/AttachmentAPI.git
[submodule "Directory-Script-8-7-21"]
	path = Directory-Script-8-7-21
	url = https://github.com/codeconsult12/Directory-Script-8-7-21.git
[submodule "NewMetereads1"]
	path = NewMetereads1
	url = https://github.com/codeconsult12/NewMetereads1.git
[submodule "Office"]
	path = Office
	url = https://github.com/codeconsult12/Office.git
[submodule "FriedmanDeerfield"]
	path = FriedmanDeerfield
	url = https://github.com/codeconsult12/FriedmanDeerfield.git
[submodule "Package-07-7-21"]
	path = Package-07-7-21
	url = https://github.com/codeconsult12/Package-07-7-21.git
[submodule "POAlternate"]
	path = POAlternate
	url = https://github.com/codeconsult12/POAlternate.git
[submodule "Publish-05-8-21"]
	path = Publish-05-8-21
	url = https://github.com/codeconsult12/Publish-05-8-21.git
[submodule "Publish-30-6-21"]
	path = Publish-30-6-21
	url = https://github.com/codeconsult12/Publish-30-6-21.git
[submodule "PurchaseJournalPosting"]
	path = PurchaseJournalPosting
	url = https://github.com/codeconsult12/PurchaseJournalPosting.git
[submodule "PurchaseOrder"]
	path = PurchaseOrder
	url = https://github.com/codeconsult12/PurchaseOrder.git
[submodule "Reports"]
	path = Reports
	url = https://github.com/codeconsult12/Reports.git
